
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* extra */

/* .button1{
    width: 150px;
    background-color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
} */

/* shared item */

.body{
    max-width: 1440px;
    background-color: #FFFFFF;
    /* border: 4px solid; */
}

/* nav style */

.navbar{
    display: flex;
}

.menu-bar{
    display: inline-block;
}

.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin:6px 0px;
    display: none;
}

nav{
    display: flex;
    max-width: 1160px;
    height: 102px;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    /* border: 2px solid red; */
}
ul{
    display: flex;
    max-width: 387px;
    justify-content: space-between;
    gap: 30px;
}

.nav-item1{
    color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
    font-weight: 700;
}
.nav-item2{
    color: rgba(1, 172, 253, 1);
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-item3{
    color: rgba(5, 212, 223, 1);
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-item4{
    color: rgba(93, 88, 239, 1);
    font-size: 1.25rem;
    font-weight: 500;
}

li{
    list-style: none;
    /* align-items: center; */
}

a{
    text-decoration: none;
}

.button1{
    width: 150px;
    background-color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
}

/* banner item style */

.banner{
    display: flex;
    align-items: center;
    max-width: 1158.61px;
    margin: 0px auto;
    /* border: 2px solid; */
}

.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}

.Empowering {
    color: rgba(254, 163, 1, 1);
}

.towards-vision{
    color: rgba(1, 172, 253, 1);
}

.banner-description{
    color: rgba(17, 17, 17, 1);
    font-size: 1.2rem;
}

.btn-2{
    width: 150px;
    background-color: rgba(17, 17, 17, 1);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
}

/* main styled item */

.curriculum{
    max-width: 1160px;
    text-align: center;
    margin: 0px auto;
    margin-top: 80px;
    background-image: url(../assets/bg.png);
}

.curriculum-title{
    color: #000000;
    font-weight: 700;
    font-size: 2.8rem;
}

.curriculum-card{
    display: flex;
    gap:28px;
    justify-content: space-between;
    margin-top: 80px;
    box-shadow:0 4px 6px rgba(0,0,0,0.2) ;
    height: 476px;
}

.card-1{
    border-radius: 8px;
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
    max-width: 365px;
    padding: 30px 10px;
}

.card-2{
    border-radius: 8px;
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
    max-width: 365px;
    padding: 30px 10px;
}

.card-3{
    border-radius: 8px;
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
    max-width: 365px;
    padding: 30px 10px;
}

.card-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
}

.card-des{
    font-size: 0.98rem;
    font-weight: 500;
    color: #808080;
}

.card-btn{
    color: #64C8FF;
}

.symbol{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-top: 20px;
}

.symbol-1{
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* stories section styled */

.stories{
    /* display: grid; */
    background-image: url(../assets/bg.png),linear-gradient(to top, #FFF4DC, #FFFFFF);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 1018.02px; */
    margin-top: 50px;
}

.stories-title{
    margin-top: 80px;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.stories-card{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 20px;
    box-shadow:0 4px 6px rgba(0,0,0,0.2);
}

.stories-img{
    width: 540px;
    height: 337px;
    border-radius: 10px;
}

.btn-3{
    /* width: 150px; */
    background-color: #3CD8E8;
    font-size: 0.90rem;
    font-weight: 500;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    margin-left:40px;
    margin-top:-200px;
}

.str{
    padding: 20px;
}

.str-1{
    font-size: 1.5rem;
    font-weight: 700;
}

.stories-card{
    gap: 20px;
    border-radius: 10px;
}

.stories-card-grid{
    display: grid;
    grid-template-columns:repeat(2,2fr)
}

.btn-4{
    background-color: #95B226;
    font-size: 0.90rem;
    font-weight: 500;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    margin-left:40px;
    margin-top:-100px;
}

.card-stor{
    font-weight: 700;
}

.btn-botton{
    text-align: center;
    margin-top: 30px;
}

.btn-5{
    width: 150px;
    background-color: rgba(17, 17, 17, 1);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
}

/* footer styled */

footer{
    max-width: 1440px;
}

.footer-container{
    display: flex;
    max-width: 1440px;
    background-color: #01ACFD;
    height: 200px;
    justify-content: space-between;
    padding: 130px 228px 174px 140px;
}

.footer-h2{
    font-weight: 700;
    font-size: 2.8rem;
    color: #FFFFFF;
}

.footer-p{
    font-size: 1.25rem;
    color: #FFFFFF;
}

.display{
    color: #FFFFFF;
    display: grid;
    gap: 20px;
    font-weight: 500;
}

.display-1{
    color: #FFFFFF;
    font-weight: 700;
}

.footer-1{
    display: flex;
}

/* media query work */

@media screen and (max-width: 576px) {
    ul,
    .button1{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .curriculum-card{
        flex-direction: column;
    }
    .stories-card-1{
        display: none;
    }
    .symbol{
        display: none;
    }
    .stories{
        margin-top: 1000px;

    }
    .stories-card-grid{
        display: grid;
        grid-template-columns:repeat(2,2fr);
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-1{
        flex-direction: column;
    }
    .menu{
        display: block;
    }

}

