
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* extra */

/* .button1{
    width: 150px;
    background-color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
} */

/* shared item */

.body{
    max-width: 1440px;
    background-color: #FFFFFF;
    border: 4px solid;
}

/* nav style */

.navbar{
    display: flex;
}

nav{
    display: flex;
    max-width: 1160px;
    height: 102px;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    /* border: 2px solid red; */
}
ul{
    display: flex;
    max-width: 387px;
    justify-content: space-between;
    gap: 30px;
}

.nav-item1{
    color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
    font-weight: 700;
}
.nav-item2{
    color: rgba(1, 172, 253, 1);
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-item3{
    color: rgba(5, 212, 223, 1);
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-item4{
    color: rgba(93, 88, 239, 1);
    font-size: 1.25rem;
    font-weight: 500;
}

li{
    list-style: none;
    /* align-items: center; */
}

a{
    text-decoration: none;
}

.button1{
    width: 150px;
    background-color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
}

/* banner item style */

.banner{
    display: flex;
    align-items: center;
    max-width: 1158.61px;
    margin: 0px auto;
    /* border: 2px solid; */
}

.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}

.Empowering {
    color: rgba(254, 163, 1, 1);
}

.towards-vision{
    color: rgba(1, 172, 253, 1);
}

.banner-description{
    color: rgba(17, 17, 17, 1);
    font-size: 1.2rem;
}

.btn-2{
    width: 150px;
    background-color: rgba(17, 17, 17, 1);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px;
}

/* main styled item */

.curriculum{
    max-width: 1160px;
    text-align: center;
    margin: 0px auto;
    margin-top: 80px;
}

.curriculum-title{
    color: #000000;
    font-weight: 700;
    font-size: 2.8rem;
}

.curriculum-card{
    display: flex;
    gap:28px;
    justify-content: space-between;
    margin-top: 80px;
    box-shadow: ;
    height: 476px;
}

.card-1{
    border-radius: 8px;
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
    max-width: 365px;
    padding: 30px 10px;
}

.card-2{
    border-radius: 8px;
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
    max-width: 365px;
    padding: 30px 10px;
}

.card-3{
    border-radius: 8px;
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
    max-width: 365px;
    padding: 30px 10px;
}

.card-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
}

.card-des{
    font-size: 0.98rem;
    font-weight: 500;
    color: #808080;
}

.card-btn{
    color: #64C8FF;
}